<footer>
    
 <!-- Group member profiles -->
  <div class="group-members">
    <div class="member">
      <img src="https://media.licdn.com/dms/image/D5603AQH25IMFLcW_WA/profile-displayphoto-shrink_200_200/0/1699850868834?e=1709164800&v=beta&t=-2ExM4ANVVcZ0RJ6dkqSKP1Z7Dz_tnu4Y7scXA-lsoc" alt="Srayoshi-Mirza" class="profile-pic">
      <a href="https://github.com/Srayoshi-Mirza" class="github-url" title="GitHub - Srayoshi-Mirza">Srayoshi Mirza</a>
        <p class="title" >Data Scientist</p>
    </div>

    <div class="member">
      <img src="https://media.licdn.com/dms/image/D4D03AQGhC-EYHUi57Q/profile-displayphoto-shrink_800_800/0/1669565135323?e=1709164800&v=beta&t=U7VEqUyeeGO04-xY8fJ22NhtmB83CRKFOpWSMhSzw6g" alt="S H IMRAN" class="profile-pic">
      <a href="https://github.com/Imran11B61" class="github-url" title="GitHub - S H IMRAN">S H IMRAN</a>
        <p class="title" >Production Planner</p>
    </div>
    <div class="member">
      <img src="https://media.licdn.com/dms/image/C5603AQHp88kW7H1Sow/profile-displayphoto-shrink_200_200/0/1658230107380?e=1709164800&v=beta&t=nSbU-_mf2VjoH6z7FnJUI6voPxevryiZt4VAkfEVdyU" alt="Mehedi Azad" class="profile-pic">
      <a href="https://github.com/AzadMehedi/AzadMehedi" class="github-url" title="GitHub - Mehedi Azad">Mehedi Azad</a>
        <p class="title" >Python Programming Trainer</p>
    </div>

    <div class="member">
      <img src="https://media.licdn.com/dms/image/C5103AQGDcf-zVNLeTQ/profile-displayphoto-shrink_800_800/0/1578658848208?e=1709164800&v=beta&t=u_HzDYs1n4RUrxWTF2ltqRA-d94-4qw4KkIxm4ednio" alt="jahid hasan" class="profile-pic">
      <a href="https://github.com/Jahid024" class="github-url" title="GitHub - jahid hasan">Jahid Hasan</a>
        <p class="title" >Deputy Manager</p>
    </div>

    <div class="member">
      <img src="https://avatars.githubusercontent.com/u/12247601?v=4" alt="Roksana Parvin" class="profile-pic">
      <a href="{{ site.baseurl }}/authors/maya/" class="github-url" title="GitHub - Roksana Parvin">Roksana Parvin</a>
        <p class="title" >Data Analyst</p>
    </div>

    <div class="member">
      <img src="/assets/img/anis_pic.png" alt="Anis Taluqdar" class="profile-pic">
      <a href="{{ site.baseurl }}/authors/anis/" class="github-url" title="GitHub - Anis Taluqdar">Anis Taluqdar</a>
      <p class="title" >Machine Learning Engineer</p>
    </div>
      

  </div>

</footer>



<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ site.name }}",
  "description": "{{ site.description }}",
  "url": "{{ site.url }}{{site.baseurl}}/",
  "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}{{site.baseurl}}/assets/img/icons/mediumtile.png",
      "width": "600",
      "height": "315"
  },
  "sameAs": [
    {{ social_urls | split: "," | join: "," }}
  ]
}
</script>

<!-- Include the script that allows Netlify CMS login -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<!-- Include the website scripts -->
<script src="{{ '/assets/js/scripts.min.js' | prepend: site.baseurl }}"></script>

<!-- Include Google Analytics script -->
{% include stats.html %}

<!-- Include extra scripts -->
{% include extra-js.html %}





